<template>
  <div class="ui grid">
    <div class="six wide column">
        <form class="ui segment large form">
      <div class="ui segment">
        <div class="field">
          <div class="ui right icon input large">
            <input type="text" placeholder="Enter your address" v-model="coordinates" />
            <i class="dot circle link icon" @click="locatorButtonPressed"></i>
          </div>
        </div>
        <div class="field">
          <div class="two fields">
            <div class="field">
              <select v-model="type">
                <option value="restaurant">Restaurant</option>
              </select>
            </div>
            <div class="field">
              <select v-model="radius">
                <option value="5">5 KM</option>
                <option value="10">10 KM</option>
                <option value="15">15 KM</option>
                <option value="20">20 KM</option>
              </select>
            </div>
          </div>
        </div>
        <button class="ui button" @click="findCloseBuyButtonPressed">Find CloseBuy</button>
      </div>
    </form>

    </div>
    <div class="ten wide column segment ui" ref="map"></div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
    data (){
        return {
            type: "",
            radius: "",
            lat:0,
            long:0
        };
    },
    computed: {
        coordinates(){
            return `${this.lat}, ${this.long}`;
        }
    },
    methods: {
        locatorButtonPressed() {
            navigator.geolocation.getCurrentPosition(
                position => {
                this.lat = position.coords.latitude;
                this.long = position.coords.longitude;
                },
                error => {
                    console.log("Error getting location");
                }
            );
        },
        findCloseBuyButtonPressed(){
	
    axios
        .get("https://maps.googleapis.com/maps/api/place/nearbtsearch/json?location=" + this.lat + "," + this.long + "&type=" + this.type + "&radius=" + (this.radius*1000) + "&key=AIzaSyDN7hVJTmuYLZWCaqJHxqBhFvKHxvoDeMI")
        .then(response => {
		console.log(response.data);
	})
    .catch(error => {
		console.log(error.message);
	});
        }
    }
};

</script>

