<template>
<div>
    <section class="ui two column centered grid" style="position:relative;z-index:1;">
        <div class="column">
        <form class="ui segment large form">
        <div class = "ui message red" v-show="error">{{error}}</div>
            <div class = "ui segment">
                <div class = "field">
                    <div class = "ui right icon input large" :class="{loading:spinner}">
                        <input type="text" placeholder="enter your address" v-model="address" id="autocomplete"></input>
                        <i class="dot circle link icon" @click="locatorButtonPressed"></i>
                    </div>
                </div>
                <button class= "ui button">Go</button>
            </div>
            </form>
        </div>
    </section>
    <section id="map"></section>
    </div>
</template>
<script>
import axios from 'axios'

export default {
    data(){
        return {
            address:"",
            error: "",
            spinner: false
        }
    },
    mounted(){
        new google.maps.places.Autocomplete(
            document.getElementById("autocomplete"),
            {
                bounds: new google.maps.LatLngBounds(
                    new google.maps.LatLng(-37.840935, 144.946457)
                )
            }
        )
    },

    methods: {
        locatorButtonPressed(){
            this.spinner = true;
            if(navigator.geolocation){
                navigator.geolocation.getCurrentPosition(
                    position => {
                    this.getAddressFrom(position.coords.latitude, position.coords.longitude);
                    this.showUserLocationOnTheMap(position.coords.latitude, position.coords.longitude);
                    },

                    error => {
                        this.error = error.message;
                        this.spinner = false;
                    }
                );
            }
            else {
                this.error = error.message;
                this.spinner = false;
                //console.log("Your browser does not support geolocation API");
            }
        },
        getAddressFrom(lat, long){
            axios.get("https://maps.googleapis.com/maps/api/geocode/json?latlng=" +  lat + "," + long + "&key=AIzaSyDN7hVJTmuYLZWCaqJHxqBhFvKHxvoDeMI").then(response => {
                if (response.data.error_message){
                    this.error = response.data.error_message;
                    //console.log(response.data.error_message);
                }
                else {
                    this.address =response.data.results[0].formatted_address
                }
                this.spinner = false;
            })
            .catch(error => {
                this.error = error.message;
                this.spinner = false;
                //console.log(error.message)
            })

        },
        showUserLocationOnTheMap(latitude, longitude){
            let map = new google.maps.Map(document.getElementById("map"), {
                zoom:15,
                center: new google.maps.LatLng(latitude, longitude),
                mapTypeId:google.maps.MapTypeId.ROADMAP
            });
            new google.maps.Marker({
                position: new google.maps.LatLng(latitude, longitude),
                map: map
            })
            this.showParking(map)
        },
        showParking(map){
            const data = require('./file1.json');
            for (var i=0;i<131;i++){
                var longitude = (data['location'][i]['longitude'])
                var lat = (data['location'][i]['latitude'])
                //var destinationA= data['location'][i]['location']
                new google.maps.Marker({
                    position: new google.maps.LatLng(lat, longitude),
                    map: map
                })

            }
            console.log('hello');
            }  
        }
    }

</script>
<style>
.ui.button,
.dot.circle.icon{
    background-color: #ff5a5f;
    color: white;
}

.pac-icon{
    display: none
}

.pac-item {
    padding:10px;
    font-size:10px;
    cursor: pointer;
}

.pac-item:hover {
    background-color: #ececec
}

.pac-item:query {
    font-size: 16px;
}

#map{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: red;
}
</style>